html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

.topnav{
  background-color:white;
  padding: 35px;
  text-align: center;
  font-family: 'Lato',serif;
  position: sticky;
  top: 0;
  box-shadow: 5px 2px 10px #e0e0e0;
  
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.topnav a{
  color: black;
  font-size: 12pt;  
}

.topnavText{
  text-decoration: none;
  color: black;
  transition: 0.5s ease;
  font-size: 15px;
  
}

.topnavText:hover{
  transition: 0.5s ease;
  color: #e0e0e0;
  padding-bottom: 5px;
  border-bottom: 1px solid black;
}
a{
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  color: black;
}
 a:hover{
   color: grey;
   transition: 0.5s ease;
 }

.banner{
  text-align: center;
  /*background: linear-gradient(to bottom, #d4feff 0%, #ffe0ed 100%);*/
  padding: 60px;
}

.banner h1{
  font-size: 52pt;
  font-family: 'Playfair Display', serif;
  color: black;
  font-weight: 100;
  
}

.banner p{ /* Site Slogan */
  font-family: 'Ma Shan Zheng', cursive;
  color: black;
  font-size: 20pt;
}


.site-body p{
  text-align: center;
  font-family: 'Lato', sans-serif;
  padding-top: 10px;
  margin: auto;
  font-size: 12pt;
  line-height:25px;
  max-width: 700px;
}
.site-body h2{
  font-family: 'Playfair Display', serif;
  text-align: center;
  font-weight: 100;
  font-size: 24pt;
}

button{
  padding: 10px 12px 10px 12px;
  width: 10%;
  background-color: white;
  border: 1px solid black;
  margin: 0 auto;
  text-align: center;
  font-family: 'Lato', sans-serif;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
button:hover{
  background-color: black;
  transition: 0.5s ease;
  cursor: pointer;
  color: white;
}

